<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apr.washeralarm">

    <!-- Require the accelerometer sensors. -->
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <!-- Permission send email -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--
    // ~ application
    // ======================================================================================
    -->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
        // ~ activity
        // ======================================================================================
        -->

        <activity
            android:name=".ui.dashboard.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.config.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait">

        </activity>

        <!--
       // ~ service
       // ======================================================================================
        -->

        <service
            android:name=".components.services.WatchDogWasherService"
            android:enabled="true"
            android:exported="true" />


    </application>

</manifest>